* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.appContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffc500;
}

.app {
    width: 70%;
    height: 90%;
    background-color: rgb(127, 127, 127);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TEAM */

.team {
    height: 90%;
    min-width: 165px;
    width: 15%;
    margin-right: 3%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
}

.teamTitle {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.teamContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.teamPokemon {
    width: 60px;
    height: 60px;
    border: 5px solid #ffc500;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.teamPokemon img {
    width: 90%;
}

.teamCTA {
    width: 40%;
    height: 30px;
    background-color: gray;
    color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.teamCTA:hover {
    background-color: black;
    color: white;
}

/* CARD */

.card {
    height: 90%;
    min-width: 375px;
    width: 35%;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    overflow: hidden;
}

.cardTop {
    width: 100%;
    height: 60%;
    background-color: #9ecbe6;
    background-image: url(https://static.wikia.nocookie.net/espokemon/images/e/e3/Squirtle.png);
    background-repeat: no-repeat;
    background-position: center 80%;
    background-size: 70%;
    display: flex;
    flex-direction: column;
    color: rgb(239, 239, 239);
}

.cardRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 5px;
}

.cardRow:first-child {
    padding-top: 5%;
}

.cardName {
    font-size: 24px;
    font-weight: 600;
}

.cardId {
    font-size: 20px;
    font-weight: 300;
}

.cardType {
    background-color: white;
    color: black;
    opacity: 0.5;
    padding: 2px 10px;
    border-radius: 10px;
}

.cardBottom {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    padding: 5%;
}

.cardLink {
    color: gray;
    font-size: 14px;
}

.cardCTA {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 50%;
    height: 35px;
    background-color: #9ecbe6;
    color: white;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cardCTA:hover {
    background-color: black;
    color: white;
}

/* MENU BUTTONS */

.menu {
    height: 90%;
    min-width: 165px;
    width: 15%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menuTab {
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: rgb(193, 193, 193);
    border: none;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.menuTab:hover {
    background-color: black;
    color: white;
    transform: scale(1.08);
}

.menuTabImg {
    width: 50px;
    margin-right: 5px;
}

.menuTabImg img {
    width: 100%;
}

.menuTabText {
    font-size: 16px;
    font-weight: 500;
}
